{% extends "layout/base.html" %}

{% block 'title' %}
Genders List
{% endblock 'title' %}

{% block 'content' %}

{% include "include/sidebar.html" %}
{% include "include/ToastMessage.html" %}

<div class="p-2 sm:ml-64 mt-10 md:mt-10">
    <div class="relative overflow-x-auto rounded-sm shadow-sm">
        <table class="w-full">
            <thead class="text-sm  text-white uppercase bg-gray-50 dark:bg-gray-700 ">
                <tr>
                    <th class="px-6 py-3">Gender</th>
                    <th class="px-6 py-3">Action</th>
                </tr>
            </thead>
            <tbody class="text-xs text-black">
                {% for gender in genders %}
                <tr class="hover:bg-gray-200 border-b border-gray-100">
                    <td class="px-6 py-3">{{ gender.gender }}</td>
                    <td class="px-6 py-3">
                        <div class="flex justify-center items-center">
                            <div class="inline-flex shadow-sm">
                                <a href="/gender/edit/{{ gender.gender_id }}" class="bg-blue-600 px-3 py-2.5 font-medium text-sm text-white hover:bg-blue-700 rounded-s-sm hover:outline-none">Edit</a>
                                <a href="/gender/delete/{{ gender.gender_id }}" class="bg-red-500 px-3 py-2.5 font-medium text-sm text-white hover:bg-red-600 rounded-e-sm hover:outline-none">Delete</a>
                            </div>
                        </div>
                        
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>



{% endblock 'content' %}

